<!-- Start wrapper-->
<div id="wrapper">
	<div class="height-100v d-flex align-items-center justify-content-center">
		<div class="card-authentication2 mx-auto my-5">
			<div class="card-group">
				<div class="card mb-0 desk">
					<div class="bg-reset-password2"></div>
					<div class="card-img-overlay rounded-left my-5">
						<!-- <img src="assets/images/bg-sighn-2.png" alt="logo icon" style="width: 170px; height: 60px; "> -->
						<p class="card-text text-white pt-3">Creating a positive experience for your employees can be as important as creating one for customers. If employees enjoy working at your company, this can influence their work and increase quality and productivity. Employee satisfaction and their views of your company also influence how customers feel. When employees love to work at your company, customers can assume that your company has good values and cares about people over profits. You can ensure a great employee experience by offering benefits and soliciting feedback from employees to help improve the work environment.</p>
					</div>
				</div>
				<div class="card mb-0">
					<div class="card-body">
						<div class="card-content p-3">
							<div class="card-title text-uppercase text-center pb-3">Reset Password</div>
							<p class="text-center pb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
							<form (ngSubmit)="onSubmit()" #f="ngForm">
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="exampleInputEmailAddress" class="sr-only">Email Address</label>
										<input type="text" style="background-color: rgba(205, 130, 130, 0.262);" [(ngModel)]="Email" name="Email" class="form-control" placeholder="Email Address">
										<div class="form-control-position"> <i class="icon-envelope-open"></i>
										</div>
									</div>
								</div>
								<button type="button" class="btn btn-light btn-block mt-3" (click)="reset()">Reset Password</button>
								<div class="clearfix"></div>
								<div class="text-center pt-3">
									<hr>
									<p class="text-warning">Return to the <a href="javascript:;" (click)="onSignin2()" style="color: #626161e0;"> Sign In</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--wrapper-->