<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Widgets Static</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">Widgets</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">widgets Static</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
                <a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
                <div class="dropdown-divider"></div> 
                <a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<h6 class="text-uppercase">Simple Cards</h6>
<hr>
<div class="row">
	<div class="col-12 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">7543</h5>
						<p class="mb-0 text-white">Total Orders</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-shopping-cart-plus text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">$8967</h5>
						<p class="mb-0 text-white">Total Revenue</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-balance-wallet text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">2540</h5>
						<p class="mb-0 text-white">New Customers</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-accounts-alt text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">7543</h5>
						<p class="mb-0 text-white">Messages</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-email text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-transparent">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">8975</h5>
						<p class="mb-0 text-white">Total Likes</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-thumb-up text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-transparent">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">8531</h5>
						<p class="mb-0 text-white">Comments</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-comment-text text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-transparent">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">9756</h5>
						<p class="mb-0 text-white">Total Shares</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-share text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-3">
		<div class="card gradient-transparent">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0 text-white">3267</h5>
						<p class="mb-0 text-white">Notifications</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-notifications-none text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<h6 class="text-uppercase">Progress Cards</h6>
<hr>
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h4 class="text-white mb-0">45,260 <span class="float-right"><i class="zmdi zmdi-facebook"></i></span></h4>
				<div class="my-3">
					<p>
						<ngb-progressbar type="white" [value]="50" height="3px">.5rem</ngb-progressbar>
					</p>
				</div>
				<p class="mb-0 text-white small-font">Facebook Likes <span class="float-right">+42% <i class="fa fa-arrow-up"></i></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h4 class="text-white mb-0">85,430 <span class="float-right"><i class="zmdi zmdi-twitter"></i></span></h4>
				<div class="my-3">
					<p>
						<ngb-progressbar type="white" [value]="50" height="3px">.5rem</ngb-progressbar>
					</p>
				</div>
				<p class="mb-0 text-white">Twitter Followers <span class="float-right">+35% <i class="fa fa-arrow-up"></i></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h4 class="text-white mb-0">95,360 <span class="float-right"><i class="zmdi zmdi-youtube"></i></span></h4>
				<div class="my-3">
					<p>
						<ngb-progressbar type="white" [value]="50" height="3px"></ngb-progressbar>
					</p>
				</div>
				<p class="mb-0 text-white">Youtube Subscribers <span class="float-right">+22% <i class="fa fa-arrow-up"></i></span>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">7543</h5>
						<p class="mb-0">Total Patients</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-face text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<p>
						<ngb-progressbar type="white" [value]="45" height="5px"></ngb-progressbar>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">$8967</h5>
						<p class="mb-0">Admitted Patients</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-accounts-alt text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<p>
						<ngb-progressbar type="white" [value]="55" height="5px"></ngb-progressbar>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">$8,569</h5>
						<p class="mb-0">Treatment Costs</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-balance-wallet text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<p>
						<ngb-progressbar type="white" [value]="65" height="5px"></ngb-progressbar>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">689</h5>
						<p class="mb-0">Available Staff</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-male-female text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<p>
						<ngb-progressbar type="white" [value]="75" height="5px"></ngb-progressbar>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="media">
					<div class="media-body">
						<h5 class="mb-0 text-white">986</h5>
						<p class="mb-0 text-white">Total Likes</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-thumb-up text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<div class="mb-0">
						<p>
							<ngb-progressbar type="white" [value]="67" height="5px"></ngb-progressbar>
						</p>
					</div>
					<p class="mt-2 mb-0 extra-small-font text-white">+2.6% Since Last Week</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="media">
					<div class="media-body">
						<h5 class="mb-0 text-white">856</h5>
						<p class="mb-0 text-white">New Comments</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-comment-alt-text text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<div class="mb-0">
						<p>
							<ngb-progressbar type="white" [value]="70" height="5px"></ngb-progressbar>
						</p>
					</div>
					<p class="mt-2 mb-0 extra-small-font text-white">+2.6% Since Last Week</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<div class="media">
					<div class="media-body">
						<h5 class="mb-0 text-white">356</h5>
						<p class="mb-0 text-white">Total Shares</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-share text-white"></i>
					</div>
				</div>
				<div class="mt-3">
					<div class="mb-0">
						<p>
							<ngb-progressbar type="white" [value]="75" height="5px"></ngb-progressbar>
						</p>
					</div>
					<p class="mt-2 mb-0 extra-small-font text-white">+2.6% Since Last Week</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<h6 class="text-uppercase">Bubble Border Cards</h6>
<hr>
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-white border-sm">
			<div class="card-body p-1">
				<div class="media align-items-center bg-white p-4 rounded">
					<div class="media-body">
						<h5 class="mb-0 text-dark">9856</h5>
						<p class="mb-0 text-dark">Total Visits</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-eye text-dark"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-white border-sm">
			<div class="card-body p-1">
				<div class="media align-items-center bg-white p-4 rounded">
					<div class="media-body">
						<h5 class="mb-0 text-dark">$75642</h5>
						<p class="mb-0 text-dark">Total Revenue</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-graduation-cap text-dark"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-white border-sm">
			<div class="card-body p-1">
				<div class="media align-items-center bg-white p-4 rounded">
					<div class="media-body">
						<h5 class="mb-0 text-dark">3562</h5>
						<p class="mb-0 text-dark">Notifications</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-notifications-none text-dark"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-sm border-white">
			<div class="card-body p-1">
				<div class="media align-items-center bg-white p-3 rounded">
					<div class="media-body">
						<p class="text-dark text-uppercase extra-small-font font-weight-bold">Customers</p>
						<h3 class="mb-0 text-dark">+8%</h3>
					</div>
					<div class="circle-1 bg-success-light1">
						<div class="circle-2 bg-success-light2">
							<div class="circle-3 gradient-success-light"> <i class="zmdi zmdi-accounts-alt text-white"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-sm border-white">
			<div class="card-body p-1">
				<div class="media align-items-center bg-white p-3 rounded">
					<div class="media-body">
						<p class="text-dark text-uppercase extra-small-font font-weight-bold">Returns</p>
						<h3 class="mb-0 text-dark">+5%</h3>
					</div>
					<div class="circle-1 bg-primary-light1">
						<div class="circle-2 bg-primary-light2">
							<div class="circle-3 gradient-primary-light"> <i class="zmdi zmdi-shopping-cart-plus text-white"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-sm border-white">
			<div class="card-body p-1">
				<div class="media align-items-center bg-white p-3 rounded">
					<div class="media-body">
						<p class="text-dark text-uppercase extra-small-font font-weight-bold">Sales</p>
						<h3 class="mb-0 text-dark">+7%</h3>
					</div>
					<div class="circle-1 bg-info-light1">
						<div class="circle-2 bg-info-light2">
							<div class="circle-3 gradient-info-light"> <i class="zmdi zmdi-layers text-white"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-sm border-white rounded-0">
			<div class="card-body p-1">
				<div class="media align-items-center bg-dark p-3">
					<div class="media-body">
						<p class="text-white text-uppercase extra-small-font font-weight-bold">Expenses</p>
						<h3 class="mb-0 text-white">+3%</h3>
					</div>
					<div class="circle-1 bg-white-light1">
						<div class="circle-2 bg-white-light2">
							<div class="circle-3 gradient-white-light"> <i class="zmdi zmdi-money text-white"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-sm border-white rounded-0">
			<div class="card-body p-1">
				<div class="media align-items-center bg-dark p-3">
					<div class="media-body">
						<p class="text-white text-uppercase extra-small-font font-weight-bold">Vouchers</p>
						<h3 class="mb-0 text-white">+2%</h3>
					</div>
					<div class="circle-1 bg-white-light1">
						<div class="circle-2 bg-white-light2">
							<div class="circle-3 gradient-white-light"> <i class="zmdi zmdi-fire text-white"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card border-sm border-white rounded-0">
			<div class="card-body p-1">
				<div class="media align-items-center bg-dark p-3">
					<div class="media-body">
						<p class="text-white text-uppercase extra-small-font font-weight-bold">Visitors</p>
						<h3 class="mb-0 text-white">+6%</h3>
					</div>
					<div class="circle-1 bg-white-light1">
						<div class="circle-2 bg-white-light2">
							<div class="circle-3 gradient-white-light"> <i class="zmdi zmdi-face text-white"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card border-sm border-white rounded-0">
			<div class="card-body p-1">
				<div class="media align-items-center p-3">
					<div class="media-body">
						<p class="text-white text-uppercase extra-small-font font-weight-bold">Messages</p>
						<h3 class="mb-0 text-white">+9%</h3>
					</div>
					<div class="circle-1 bg-white-light1">
						<div class="circle-2 bg-white-light2">
							<div class="circle-3 gradient-white-light"> <i class="zmdi zmdi-flower-alt text-dark"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card border-sm border-white rounded-0">
			<div class="card-body p-1">
				<div class="media align-items-center p-3">
					<div class="media-body">
						<p class="text-white text-uppercase extra-small-font font-weight-bold">Messages</p>
						<h3 class="mb-0 text-white">+9%</h3>
					</div>
					<div class="circle-1 bg-white-light1">
						<div class="circle-2 bg-white-light2">
							<div class="circle-3 gradient-white-light"> <i class="zmdi zmdi-flower-alt text-dark"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<h6 class="text-uppercase">Side Bubble Cards</h6>
<hr>
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card bubble">
			<div class="card-body card-block">
				<div class="media align-items-center">
					<div class="media-body">
						<p class="mb-0 text-white">Payment Index</p>
						<h4 class="mb-0 text-white">$8645.57</h4>
						<p class="extra-small-font mt-3 mb-0 text-white">Lorem Ipsum Dollar
							<br>Itacha luliya noneta</p>
					</div>
					<div class="position-relative"><i class="zmdi zmdi-card-travel fa-5x text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card bubble">
			<div class="card-body card-block">
				<div class="media align-items-center">
					<div class="media-body">
						<p class="mb-0 text-white">Payment Index</p>
						<h4 class="mb-0 text-white">$8645.57</h4>
						<p class="extra-small-font mt-3 mb-0 text-white">Lorem Ipsum Dollar
							<br>Itacha luliya noneta</p>
					</div>
					<div class="position-relative"><i class="zmdi zmdi-case-download fa-5x text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card bubble">
			<div class="card-body card-block">
				<div class="media align-items-center">
					<div class="media-body">
						<p class="mb-0 text-white">Payment Index</p>
						<h4 class="mb-0 text-white">$8645.57</h4>
						<p class="extra-small-font mt-3 mb-0 text-white">Lorem Ipsum Dollar
							<br>Itacha luliya noneta</p>
					</div>
					<div class="position-relative"><i class="zmdi zmdi-cocktail fa-5x text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<h6 class="text-uppercase">Large Content Cards with textures</h6>
<hr>
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h6 class="text-uppercase mb-0 text-center text-white">Your Alarm time is</h6>
				<h4 class="text-uppercase text-center text-white">05:00 AM</h4>
				<div class="media align-items-center mt-5">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-edit text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Edit Alarm</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="media align-items-center mt-3">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-settings text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Setting</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="media align-items-center mt-3 mb-5">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-delete text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Delete Alarm</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<div class="row align-items-center">
					<div class="col">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><i class="zmdi zmdi-home text-white"></i>
							</li>
							<li class="list-inline-item"><i class="zmdi zmdi-settings text-white"></i>
							</li>
							<li class="list-inline-item"><i class="zmdi zmdi-brightness-7 text-white"></i>
							</li>
						</ul>
					</div>
					<div class="col">
						<div class="w-circle-icon rounded-circle bg-light float-right"><i class="zmdi zmdi-notifications-active text-white"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h6 class="text-uppercase mb-0 text-center text-white">Your Alarm time is</h6>
				<h4 class="text-uppercase text-center text-white">05:00 AM</h4>
				<div class="media align-items-center mt-5">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-edit text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Edit Alarm</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="media align-items-center mt-3">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-settings text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Setting</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="media align-items-center mt-3 mb-5">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-delete text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Delete Alarm</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<div class="row align-items-center">
					<div class="col">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><i class="zmdi zmdi-home text-white"></i>
							</li>
							<li class="list-inline-item"><i class="zmdi zmdi-settings text-white"></i>
							</li>
							<li class="list-inline-item"><i class="zmdi zmdi-brightness-7 text-white"></i>
							</li>
						</ul>
					</div>
					<div class="col">
						<div class="w-circle-icon rounded-circle bg-light float-right"><i class="zmdi zmdi-notifications-active text-white"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h6 class="text-uppercase mb-0 text-center text-white">Your Alarm time is</h6>
				<h4 class="text-uppercase text-center text-white">05:00 AM</h4>
				<div class="media align-items-center mt-5">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-edit text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Edit Alarm</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="media align-items-center mt-3">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-settings text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Setting</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="media align-items-center mt-3 mb-5">
					<div class="w-circle-icon rounded-circle bg-light"><i class="zmdi zmdi-delete text-white"></i>
					</div>
					<div class="media-body ml-3">
						<h6 class="mb-0 text-white">Delete Alarm</h6>
						<p class="mb-0 extra-small-font text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<div class="row align-items-center">
					<div class="col">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><i class="zmdi zmdi-home text-white"></i>
							</li>
							<li class="list-inline-item"><i class="zmdi zmdi-settings text-white"></i>
							</li>
							<li class="list-inline-item"><i class="zmdi zmdi-brightness-7 text-white"></i>
							</li>
						</ul>
					</div>
					<div class="col">
						<div class="w-circle-icon rounded-circle bg-light float-right"><i class="zmdi zmdi-notifications-active text-white"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<h6 class="text-uppercase">Theme gradient cards</h6>
<hr>
<div class="row">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body text-center">
				<h5 class="text-uppercase text-white">Welcome</h5>
				<div class="icon-box bg-light my-5 mx-auto"> <i class="zmdi zmdi-home text-white"></i>
				</div>
				<p class="my-5 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p> <a href="javascript:;" class="btn btn-light btn-round">Sign Up</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body text-center">
				<h5 class="text-uppercase text-white">Alerts</h5>
				<div class="icon-box bg-light my-5 mx-auto"> <i class="zmdi zmdi-notifications-active text-white"></i>
				</div>
				<p class="my-5 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p> <a href="javascript:;" class="btn btn-light btn-round">Sign Up</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body text-center">
				<h5 class="text-uppercase text-white">Settings</h5>
				<div class="icon-box bg-light my-5 mx-auto"> <i class="zmdi zmdi-settings text-white"></i>
				</div>
				<p class="my-5 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p> <a href="javascript:;" class="btn btn-light btn-round">Sign Up</a>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<!-- End container-fluid-->