<div class="row mt-3">
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<p class="text-white mb-0">Listings <span class="float-right badge badge-light">Monthly</span>
				</p>
				<div class="">
					<h4 class="mb-0 py-3">92,403 <span class="float-right"><i class="fa fa-home"></i></span></h4>
				</div>
				<div class="progress-wrapper">
					<p>
						<ngb-progressbar type="white" [value]="60" height="5px"></ngb-progressbar>
					</p>
				</div>
				<p class="mb-0 mt-2 text-white small-font">Compare to last month <span class="float-right">+15% <i class="fa fa-long-arrow-up"></i></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<p class="text-white mb-0">Search <span class="float-right badge badge-light">Today</span>
				</p>
				<div class="">
					<h4 class="mb-0 py-3">5,70,803 <span class="float-right"><i class="fa fa-search"></i></span></h4>
				</div>
				<div class="progress-wrapper">
					<p>
						<ngb-progressbar type="white" [value]="80" height="5px"></ngb-progressbar>
					</p>
				</div>
				<p class="mb-0 mt-2 text-white small-font">Compare to yesterday <span class="float-right">+43% <i class="fa fa-long-arrow-up"></i></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<p class="text-white mb-0">Earnings <span class="float-right badge badge-light">Weekly</span>
				</p>
				<div class="">
					<h4 class="mb-0 py-3">$8,456 <span class="float-right"><i class="fa fa-usd"></i></span></h4>
				</div>
				<div class="progress-wrapper">
					<p>
						<ngb-progressbar type="white" [value]="45" height="5px"></ngb-progressbar>
					</p>
				</div>
				<p class="mb-0 mt-2 text-white small-font">Compare to last week <span class="float-right">+32% <i class="fa fa-long-arrow-up"></i></span>
				</p>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<div class="card">
	<div class="card-header">Property Order Status
		<div class="btn-group group-round btn-group-sm float-right">
			<button type="button" class="btn btn-white waves-effect waves-light">Monthly</button>
			<button type="button" class="btn btn-light waves-effect waves-light">Weekly</button>
			<button type="button" class="btn btn-light waves-effect waves-light">Daily</button>
		</div>
	</div>
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col-12 col-lg-3 text-center">
				<p class="mt-4">Total Orders</p>
				<h4 class="mb-0">4,350</h4>
				<hr>
				<p>Total Payments</p>
				<h4 class="mb-0">$80,520</h4>
			</div>
			<div class="col-12 col-lg-9">
				<div class="chart-container-11">
					<canvas id="dash2-chart1"></canvas>
				</div>
			</div>
		</div>
		<!--End Row-->
	</div>
</div>
<!--End Card-->
<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">Popular Listings
				<div class="card-action">
					<div ngbDropdown>
						<a href="javascript:;" class="dropdown-toggle-nocaret" id="dropdownBasic5" ngbDropdownToggle> <i class="icon-options"></i>
						</a>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
							<a href="javascript:;" ngbDropdownItem>Action</a>
							<a href="javascript:;" ngbDropdownItem>Another action</a>
							<a href="javascript:;" ngbDropdownItem>Something else here</a>
							<div class="dropdown-divider"></div> 
							<a href="javascript:;" ngbDropdownItem>Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="media align-items-center">
						<img src="assets/images/products/property01.jpg" alt="user avatar" class="customer-img rounded">
						<div class="media-body ml-3">
							<h6 class="mb-0">Lorem ipsum dolor sitamet consectetur adipiscing</h6>
							<small class="small-font">$810,000 . 04 Beds . 03 Baths</small>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<img src="assets/images/products/property02.jpg" alt="user avatar" class="customer-img rounded">
						<div class="media-body ml-3">
							<h6 class="mb-0">Lorem ipsum dolor sitamet consectetur adipiscing</h6>
							<small class="small-font">$2,560,000 . 08 Beds . 07 Baths</small>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<img src="assets/images/products/property03.jpg" alt="user avatar" class="customer-img rounded">
						<div class="media-body ml-3">
							<h6 class="mb-0">Lorem ipsum dolor sitamet consectetur adipiscing</h6>
							<small class="small-font">$910,300 . 03 Beds . 02 Baths</small>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<img src="assets/images/products/property04.jpg" alt="user avatar" class="customer-img rounded">
						<div class="media-body ml-3">
							<h6 class="mb-0">Lorem ipsum dolor sitamet consectetur adipiscing</h6>
							<small class="small-font">$1,140,650 . 06 Beds . 03 Baths</small>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<img src="assets/images/products/property05.jpg" alt="user avatar" class="customer-img rounded">
						<div class="media-body ml-3">
							<h6 class="mb-0">Lorem ipsum dolor sitamet consectetur adipiscing</h6>
							<small class="small-font">$1,140,650 . 06 Beds . 03 Baths</small>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<img src="assets/images/products/property03.jpg" alt="user avatar" class="customer-img rounded">
						<div class="media-body ml-3">
							<h6 class="mb-0">Lorem ipsum dolor sitamet consectetur adipiscing</h6>
							<small class="small-font">$910,300 . 03 Beds . 02 Baths</small>
						</div>
					</div>
				</li>
			</ul>
			<div class="card-footer text-center bg-transparent border-0"> <a href="javascript:;">View all listings</a>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">Popular Categories
				<div class="card-action">
					<div ngbDropdown>
						<a href="javascript:;" class="dropdown-toggle-nocaret" id="dropdownBasic6" ngbDropdownToggle> <i class="icon-options"></i>
						</a>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic6"> 
							<a href="javascript:;" ngbDropdownItem>Action</a>
							<a href="javascript:;" ngbDropdownItem>Another action</a>
							<a href="javascript:;" ngbDropdownItem>Something else here</a>
							<div class="dropdown-divider"></div> 
							<a href="javascript:;" ngbDropdownItem>Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="media align-items-center">
						<div class="icon-box border border-white"> <i class="fa fa-cutlery"></i>
						</div>
						<div class="media-body ml-3">
							<h6 class="mb-0">Restaurants</h6>
						</div>
						<div class="date">Submited List: 250</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<div class="icon-box border border-white"> <i class="fa fa-bed"></i>
						</div>
						<div class="media-body ml-3">
							<h6 class="mb-0">Hotels</h6>
						</div>
						<div class="date">Submited List: 90</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<div class="icon-box border border-white"> <i class="fa fa-glass"></i>
						</div>
						<div class="media-body ml-3">
							<h6 class="mb-0">Nightclubs</h6>
						</div>
						<div class="date">Submited List: 260</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<div class="icon-box border border-white">	<i class="fa fa-video-camera"></i>
						</div>
						<div class="media-body ml-3">
							<h6 class="mb-0">Movie Theaters</h6>
						</div>
						<div class="date">Submited List: 150</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<div class="icon-box border border-white"> <i class="fa fa-shopping-bag"></i>
						</div>
						<div class="media-body ml-3">
							<h6 class="mb-0">Shopping</h6>
						</div>
						<div class="date">Submited List: 300</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media align-items-center">
						<div class="icon-box border border-white"> <i class="fa fa-lightbulb-o"></i>
						</div>
						<div class="media-body ml-3">
							<h6 class="mb-0">Museums</h6>
						</div>
						<div class="date">Submited List: 150</div>
					</div>
				</li>
			</ul>
			<div class="card-footer text-center border-0"> <a href="javascript:;">View all Categories</a>
			</div>
		</div>
	</div>
</div>
<!--End Row-->