<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Google Maps</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">Maps</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Google Maps</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
				<div class="dropdown-divider"></div> 
				<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<div class="row">
	<!--Basic Map-->
	<div class="col-12 col-lg-6">
		<div class="card">
			<div class="card-header no-shadow">Basic Map</div>
			<div class="card-body p-0">
				<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
			</div>
		</div>
	</div>
	<!-- / Basic Map-->
	<!--Styled Map-->
	<div class="col-12 col-lg-6">
		<div class="card">
			<div class="card-header no-shadow">Styled Map</div>
			<div class="card-body p-0">
				<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles"></agm-map>
			</div>
		</div>
	</div>
	<!-- / Styled Map-->
</div>
<div class="row">
	<!--Polylines Map-->
	<div class="col-12 col-lg-6">
		<div class="card">
			<div class="card-header no-shadow">Polylines</div>
			<div class="card-body p-0">
				<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
					<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
					<agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
					<agm-polyline>
						<agm-polyline-point [latitude]="lat" [longitude]="lng"></agm-polyline-point>
						<agm-polyline-point [latitude]="latA" [longitude]="lngA"></agm-polyline-point>
					</agm-polyline>
				</agm-map>
			</div>
		</div>
	</div>
	<!-- / Polylines Map-->
	<!--Info Window-->
	<div class="col-12 col-lg-6">
		<div class="card">
			<div class="card-header no-shadow">Info Window</div>
			<div class="card-body p-0">
				<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
					<agm-marker [latitude]="lat" [longitude]="lng">
						<agm-info-window>InfoWindow content</agm-info-window>
					</agm-marker>
				</agm-map>
			</div>
		</div>
	</div>
	<!--Info Window-->
</div>