<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Pagination</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">UI Elements</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Pagination</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
				<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
				<div class="dropdown-divider"></div> 
				<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header text-uppercase">Default Pagination</div>
			<div class="card-body">
				<p>Basic Pagination</p>
				<ul class="pagination">
					<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
				<p>Active State</p>
				<ul class="pagination">
					<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
				<p>Disabled State</p>
				<ul class="pagination">
					<li class="page-item disabled">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
				<p>Large Pagination</p>
				<div class="table-responsive">
					<ul class="pagination pagination-lg">
						<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
						</li>
					</ul>
				</div>
				<p>Small Pagination</p>
				<ul class="pagination pagination-sm">
					<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header text-uppercase">Round Pagination Style</div>
			<div class="card-body">
				<ul class="pagination pagination-round">
					<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
				<p>Active State</p>
				<ul class="pagination pagination-round">
					<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
				<p>Disabled State</p>
				<ul class="pagination pagination-round">
					<li class="page-item disabled">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
				<p>Large Pagination</p>
				<div class="table-responsive">
					<ul class="pagination pagination-round pagination-lg">
						<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
						</li>
						<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
						</li>
					</ul>
				</div>
				<p>Small Pagination</p>
				<ul class="pagination pagination-round pagination-sm">
					<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">2</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
					</li>
					<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-uppercase">Pagination in different styles</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-separate">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-lg-6 col-xl-4">
						<ul class="pagination pagination-round">
							<li class="page-item">	<a class="page-link" href="javascript:;">Previous</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">1</a>
							</li>
							<li class="page-item active">	<a class="page-link" href="javascript:;">2</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">3</a>
							</li>
							<li class="page-item">	<a class="page-link" href="javascript:;">Next</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End Row-->
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- Basic pagination-->
<h6 class="text-uppercase">Basic pagination</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<p>Default pagination:</p>
					<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
					<p>No direction links:</p>
					<ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false"></ngb-pagination>
					<p>With boundary links:</p>
					<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
					<hr> <pre>Current page: {{page}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Basic pagination-->
<!-- Advanced pagination-->
<h6 class="text-uppercase">Advanced pagination</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<p>Restricted size, no rotation:</p>
					<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
					<p>Restricted size with rotation:</p>
					<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
					<p>Restricted size with rotation and no ellipses:</p>
					<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
					<hr> <pre>Current page: {{page}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Advanced pagination-->
<!-- Custom links-->
<h6 class="text-uppercase">Custom links</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<p>A pagination with customized links:</p>
					<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
						<ng-template ngbPaginationPrevious>Prev</ng-template>
						<ng-template ngbPaginationNext>Next</ng-template>
						<ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
					</ngb-pagination>
					<hr> <pre>Current page: {{page}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Custom links-->
<!-- Pagination size-->
<h6 class="text-uppercase">Pagination size</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="lg"></ngb-pagination>
					<ngb-pagination [collectionSize]="50" [(page)]="currentPage"></ngb-pagination>
					<ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm"></ngb-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Pagination size-->
<!-- Pagination alignment-->
<h6 class="text-uppercase">Pagination alignment</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<p>Change the alignment of pagination components with flexbox utilities.</p>
					<ngb-pagination class="d-flex justify-content-start" [collectionSize]="70" [(page)]="page"></ngb-pagination>
					<ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page"></ngb-pagination>
					<ngb-pagination class="d-flex justify-content-end" [collectionSize]="70" [(page)]="page"></ngb-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Pagination alignment-->
<!-- Disabled pagination-->
<h6 class="text-uppercase">Disabled pagination</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<p>Pagination control can be disabled:</p>
					<ngb-pagination [collectionSize]="70" [(page)]="page" [disabled]='isDisabled'></ngb-pagination>
					<hr>
					<button class="btn btn-sm btn-outline-primary" (click)="toggleDisabled()">Toggle disabled</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Disabled pagination-->