/*.first_cal{
  padding-left: 235px;
}
th{
  width: 200px;
}
td{
  min-height: 35px;
}
*/
.dropdown_hand{
  cursor: pointer; cursor:hand;
}

.WsCreat{
min-width: 220px;
}


.ng-select {
padding-bottom: 0em;  
font-size: 14px;
width: 300px;
min-height: 34px;
 
 
}
select{
  width: 200px;
}



//.item_icon{
 //margin-top: -15px; 
   //margin-left: 613px;
  // height: 35px;
  // width: 35px;  
   //border-radius: 0px; 
   //color: black;
   //background-color: rgb(245, 244, 244);
  // border: 1px solid white; 
  //width: 300px;   
   
//}

.task{  
  //margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;    
  border-radius: 3px;
  font-size: 16px; 

}








#mySidenav{
  z-index: 1000;   
}


//side nave code conent

.sidenav_Open {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;

  height: 100%;
  width:40%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #343a40;
  //background-color: rgb(156, 156, 156);
  overflow-x: hidden;
  transition: 0.5s;
// padding-top: 60px;     
}

.sidenav_Close{
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; 

}

.sidemenu_close{  
  width: 25px; 

  margin-top: 0;
  color: white;
  background: #343a40;;
  text-align: center;
  border: white;
  border-radius: 5px;  
}


.border_bt{
  border: none;
  background: none;
  width: 300px;
  margin-left: 20px;  
}
.side_texta{
  border: 1px solid #0d6efd; 
}

.side_texta_bt{
  width: 120px;
  height: 45px;
  margin-top: 10px;
  margin-left: 580px;
  background: #0d6efd;
  color: white;
  border: #0d6efd;
  border-radius: 5px;    
}

.hide {
  display: none;
}
.myDIV:hover + .hide {
  display: block;
  color: red;
}

.wrapper{
  margin: 0 auto;
}

.content{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;  
}
.overlay{
  position: absolute;
  top: -15px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 35px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #eb4d4b;
}

.wrapper:hover .overlay{
  opacity: 1;
}

.text_item_update{
  padding: 0;
  margin: 0;  
  width: 100%; 
  min-height: 100px; 
  margin-top: 5px;
  
  height: auto;
  overflow: auto;
  position: relative;  
  line-height: 1.5;
  white-space: normal;
  box-sizing: inherit;  
  border-radius: 5px;
}

.item-update_bt{
  width: 100px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; 
  border-radius: 5px;  
  margin-left: 550px;    
}







/*
//inside css table css
body{margin: 0px; padding: 0px;}
body{display: flex; justify-content: center; background-color: #be2edd;}

table{text-align: left;  border-collapse: collapse; cursor: pointer;}   
thead{color:white; text-align: center; font-size: 1.1em; padding: 10px; }
thead tr{background: rgb(245, 244, 244); color: black;}
th:hover {
  background-color: rgb(173, 173, 173);
}
th{width: 200px; height: 35px;}

tbody tr{background: rgb(245, 244, 244); border-left: 10px solid rgb(193, 245, 72); }
tbody tr:hover {
  background-color: rgb(173, 173, 173);
  border-left: 10px solid rgb(255, 0, 234);
}
td{ width: 200px; height: 35px; margin-bottom: auto; text-align: center; padding: 0px; }
tbody tr:nth-child(odd){background: rgb(243, 243, 243);  border-left: 10px solid green; border-top: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white;}
tbody tr:nth-child(odd):hover {
  background-color: rgb(154, 226, 255);
  border-left: 10px solid rgb(128, 62, 0);
}


th:nth-child(1){width: 655px; height: 35px; position: absolute; z-index: 1; background: inherit; padding: 10px; text-align: left;}
th:nth-child(1):hover{
  background-color: rgb(173, 173, 173);
}

td:nth-child(1) {box-shadow: 5px 0 3px -2px #ccc; width: 650px; position: absolute; z-index: 1; background: inherit;  text-align: center; box-sizing: border-box; font-weight: bold;}

td:nth-child(2){width: 200px;}

@media only screen and(max-width:700px) {
 table{
   width: 1000px;}
   tbody td{width: 100px;}
    td:nth-child(2){width: 700px;}       
}
*/



//.table_row{
//  min-height: 35px;
//}


.kdate_tab{
  margin-top: -3px;
   margin-bottom: -3px;
   text-align: center;  
}

.ktimeline_tab{
  margin-top: -3px; margin-bottom: -3px;
}

.kstatus{
  height: 34px;
  border-radius: 0px;
  border: none;
}

.wsb{
  text-align: left;
}

.crtworkspace{
 // margin-top: 4px;
  position: relative;
 margin-right: -220px;
    margin-left: auto;
    float: right;
    text-align: right;
}

.workspace_dropdown{
  width: auto;
}

.crtbord{ 
  margin-left:  120px; 
  height: 30px;
  border-radius: 5px;
  border-color: #0d6efd;
}

.borde_list{
  height: 40px;  
}




:host {
  >.container {
      max-width: 1264px;     
      width: 100%;      
      margin: 0 auto;
      display: flex;      
      justify-content: space-between;
      background: none;
  }
  ::ng-deep {
   
      .mat-tab-group {
          flex-direction: row;
          
      }
      .mat-tab-header {
        border-bottom: none;
      }
      .mat-tab-header-pagination {
          display: none !important;
      }
      .mat-tab-label {
        height: 35px;
        width: 220px;
        font-size: 14px; 
        padding: 0 4px;
        text-align: start;  
        text-overflow: initial;         
      }     
      .mat-tab-labels {
        flex-direction: column;
        background: rgb(245, 244, 244);
        box-shadow:5px 5px 5px #888888;
      }
      .mat-tab-label.mat-tab-label-active {        
        background-color:#006599;
        color: white;
        box-shadow:3px 3px 3px #888888;
      }
      .mat-tab-label.mat-tab-label-active:hover {
        background-color:#006599;
      }
      .mat-tab-label:hover {
          background-color: rgb(216, 216, 216);
      }
      .mat-ink-bar {
          height: 100%;         
          left: 98% !important;
      }
      .mat-tab-body-wrapper {
          flex: 1 1 auto;
      }
  }

  
}

.modal-header{
  border-bottom: 0px;
}
.modal-footer{
  border-top: 0px;
}
.btn{
  font-size: 14px;
}



.table-responsive{
 // max-height: 20em;
}
.table{
  width: 120%;
}

thead th{
  position: sticky;
  top: 0;
  background: #5d646b;
  z-index: 1;
  height: 35px;
  width: 200px;
  text-align: center;
  
}

thead th:hover {
  background-color: rgba(246, 245, 245, 0.301);
}


thead th:nth-child(1){
  position: sticky;
  left: 0;
  background: #5d646b;
  z-index: 100;
  text-align: left;
  text-indent: 5px; 
 
}
thead th:nth-child(1):hover {
  background-color: #343a40; 
}

tbody{
  height: 35px;
  min-width: 200px;
}

tbody td{
  height: 35px;
  background: rgba(246, 245, 245, 0.199);
  border: 1px solid white;
}

tbody td:hover {
  background-color: rgba(246, 245, 245, 0.301);  
}

tbody td:nth-child(1){
  position: sticky;
  left: 0;
  background: #6b859e;
  z-index: 1; 
  height: 35px;
  width: 500px;  
  border: 1px solid white; 
  border-left: none;
  text-indent: 1px;
}
tbody td:nth-child(1):hover {
  background-color: #343a40; 
  border-left: 5px solid white; 
}
.ads{
  height:32px;
  width: 31px;
  text-align: center;
  
}










