<!--
<div *ngFor="let Workspace_ of Loaded_Wrokspaces">
  - 1 {{Workspace_.Workspace_Name}}
  <div *ngFor="let Board_ of Workspace_.List_Of_Boards">
    - - 2 {{Board_.Board_Title}}
    <div *ngFor="let Group_ of Board_.List_Of_Groups">
      - - - 3 {{Group_.Group_Title}}
    </div>
  </div>
</div>
-->


<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3"></div>
  <div class="ps-3">
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Orders</li>
      </ol>
    </nav>-->
  </div>
  <!-- <div class="ms-auto">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Settings</button>
      <button type="button" class="btn btn-primary  bx bxs-plus-square" data-bs-toggle="dropdown"> <span
          class="visually-hidden">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item" href="#"
          (click)="$event.preventDefault()">Action</a>
        <a class="dropdown-item" (click)="create_Column(Column_Types_Timeline)">Create Timeline</a>
        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
        <button (click)="create_Column(Column_Types_Timeline)">Create Timeline</button>
        <div class="dropdown-divider"></div> <a class="dropdown-item" href="#"
          (click)="$event.preventDefault()">Separated link</a>
      </div>
    </div>
  </div>-->
</div>

<!--end breadcrumb-->
<div class="row">
  <div class="col-12 col-lg-2">
    <div class="card">
      <div class="card-body" style="background: rgb(245, 244, 244);">
        <!--Workspace Dropdown-->
        <div class="ms-auto">
          <div class="btn-group">
            <button class="btn btn-light wsb">+ Workspace</button>
            <button class="btn btn-light  lni lni-more-alt crtworkspace" data-bs-toggle="dropdown"> <span
                class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown_hand">
              <a class="dropdown-item " (click)="openVerticallyCentered(content)">+ Add New Workspace</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"> Delete workspace</a>
            </div>
          </div>
        </div><br>

        <!--Create Workspace -->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h1 class="modal-title" style="margin-left: 0px;font-weight: 500;">Create Workspace</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #myForm="ngForm">
              <label>Workspace name</label>
              <div class="form-group">
                <mat-form-field appearance="outline" class="" style="width: 100%; height: 100%;">
                  <input matInput [(ngModel)]="Workspace_Name" name='newworkspacename' required>
                </mat-form-field>
                <br><br>
                <p>Privacy</p>
                <p>Workspaces are a way to organize your boards by team or project in one place.</p>
                <!-- Place to render the image -->
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="create_workspace(Workspace_Name)"
              [disabled]="myForm.invalid" (click)="modal.dismiss('Cross click')">Create
              Workspace</button>

          <!--    <button type="button" class="btn btn-primary" (click)="create_workspace(Workspace_Name)"
              [disabled]="myForm.invalid" (click)="modal.dismiss('Cross click')" (click)="reset()">Create
              Workspace</button>  -->

          </div>
        </ng-template>
        <!--Select Workspace -->

        <!--    <select appearance="outline" [(ngModel)]="User_.Selected_Workspace.Workspace_Name" (ngModelChange)="onChange($event)" class="form-control kstatus">
          <option *ngFor="let Workspace_ of Loaded_Wrokspaces;let i = index" [ngValue]="i" >
            {{Workspace_.Workspace_Name}}
          </option>
        </select>-->
        <!--[selected]="Workspace_"-->

        <select appearance="outline" [(ngModel)]="Selected_Workspace_Index" (ngModelChange)="onChange($event)"
          class="form-control WsCreat">
          <option *ngFor="let Workspace_ of Loaded_Wrokspaces; let i = index" [ngValue]="i">
            {{Workspace_.Workspace_Name}}
          </option>
        </select><br>
        <!--Create Board-->
        <div class="ms-auto">
          <div class="btn-group">
            <button class="btn btn-light wsb">+ Add Board</button>
            <button class="btn btn-light  lni lni-chevron-down crtworkspace" data-bs-toggle="dropdown"> <span
                class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown_hand">
              <a class="dropdown-item " (click)="openVerticallyCentered(newboard)">+ New Board</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"> Delete Board</a>
            </div>
          </div>
        </div><br>

        <ng-template #newboard let-modal>
          <div class="modal-header">
            <h4 class="modal-title" style="margin-left: 0px;font-weight: 500;">Create board</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #myForm="ngForm">
              <label>Board name</label>
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput [(ngModel)]="Board_Title" name='newboardname' placeholder="Board Name" maxlength="35"
                    required>
                </mat-form-field>
                <br><br>
                <p>Privacy</p>
                <p>Visible to everyone in your account</p>
                <!-- Place to render the image -->
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="create_boards(Board_Title)"
              [disabled]="myForm.invalid" (click)="modal.close('Close click')">Create Board</button>
          </div>
        </ng-template>

        <!--Select Boards-->

        <!-- <div *ngFor="let Item_ of Loaded_Wrokspaces[Workspace_Index].List_Of_Boards; let i = index" [ngValue]="i" class="borde_list">
          <button (click)="selected_boards()" > {{Item_.Board_Title}}</button>
        </div>-->

        <mat-tab-group matMultilineTab (selectedTabChange)="tabClick($event)">
          <mat-tab *ngFor="let Item_ of Loaded_Wrokspaces[Selected_Workspace_Index].List_Of_Boards; let i = index"
          [ngValue]="i" label="{{Item_.Board_Title}}"></mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>




  <div class="col-12 col-lg-10">
    <div class="card">
      <div class="card-body">
        <!--Selected Board Name-->
        <h4 class="border_bt"><input matInput
            [(ngModel)]="Loaded_Wrokspaces[Selected_Workspace_Index].List_Of_Boards[Selected_Board_Index].Board_Title">
        </h4>
        <hr/>
        <!--Create Group-->
        <div class="ms-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" style="font-size: 14px;" data-bs-toggle="dropdown">New Group</button>
            <button type="button" class="btn btn-primary  lni lni-chevron-down" data-bs-toggle="dropdown"
              style="font-size: 12px;"> <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown_hand">
              <a class="dropdown-item" (click)="openVerticallyCentered(newgroup)">New group of Items</a>
            </div>
          </div>
        </div><br>

        <ng-template #newgroup let-modal>
          <div class="modal-header">
            <h4 class="modal-title" style="margin-left: 0px;font-weight: 500;">Create Group</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #myForm="ngForm">
              <label>Group Name</label>
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput [(ngModel)]="Group_Title" name='newgroupname' placeholder="Group Name" required>
                </mat-form-field>
                <br />
                <!-- Place to render the image -->

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="create_Group(Group_Title)"
              [disabled]="myForm.invalid" (click)="modal.close('Close click')">Create Group</button>
          </div>
        </ng-template>

        <div class="d-lg-flex align-items-center mb-4 gap-3">
          <div class="position-relative">
            <input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span
              class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
          </div>

          <div class="ms-auto">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" style="font-size: 14px;" data-bs-toggle="dropdown">Add Column</button>
              <button type="button" class="btn btn-primary  bx bxs-plus-square" data-bs-toggle="dropdown" style="font-size: 12px;">
                 <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end dropdown_hand">
                <a class="dropdown-item" (click)="create_Column(Column_Types_Timeline)">Timeline</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Status)">Status</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Dropdown)">Dropdown</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_People)">People</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Text)">Text</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Number)">Number</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Date_)">Date</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Check)">Check Box</a>
                <a class="dropdown-item" (click)="create_Column(Column_Types_Formula)">Formula</a>
              </div>
            </div>
          </div>
        </div>



        <div
          *ngFor="let Group_ of Loaded_Wrokspaces[Selected_Workspace_Index].List_Of_Boards[Selected_Board_Index].List_Of_Groups;  let j = index"
          [attr.data-index]="j">  
            <div class="btn-group">
              <button class="btn btn-light" data-bs-toggle="dropdown"> {{Group_.Group_Title}}</button>
              <button type="button" class="btn btn-light  lni lni-chevron-down" data-bs-toggle="dropdown"
                style="font-size: 12px;">
              </button>
              <div class="dropdown-menu dropdown_hand">
                <a class="dropdown-item" (click)=create_Task(j)>Add Item</a>
                <a class="dropdown-item" (click)="openVerticallyCentered(newgroup)">Delete Group</a>
              </div>
            </div>    
            
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th 
                    *ngFor="let column_ of Loaded_Wrokspaces[Selected_Workspace_Index].List_Of_Boards[Selected_Board_Index].Board_Template?.List_Of_Columns;">
                    {{column_.Column_Title}}
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let Item_ of Group_.List_Of_Items; let i = index" [attr.data-index]="i">

                  <!-- item text -->
                  <td>
                    <div class="btn-group">
                    <mat-form-field appearance="outline radius-15"
                      style=" text-align: left; width: 100%; min-width: 500px;">                      
                      <input matInput  [(ngModel)]="Item_.Item_Title" (ngModelChange)="UpdateTask(Item_)">                       
                      <mat-icon matSuffix (click)="openNav(Item_)" class="dropdown_hand" style="margin-top: 5px;">maps_ugc</mat-icon>    
                                                                    
                    </mat-form-field>
                    <button class="btn btn-light lni lni lni-trash" ></button>
                  </div>
                    <!--<button class="btn    item_icon" (click)="openNav(Item_)">
                      <span class="material-icons" style="margin-left: -7px ;">maps_ugc</span>
                    </button>   -->
                    <!-- {{Item_.Item_Title}} -->
                  </td>     


                  <!-- Date -->
                  <td *ngFor="let kdate of Item_.List_Of_Date_columns;">
                    <mat-form-field appearance="outline radius-15" class="kdate_tab">
                      <input matInput [matDatepicker]="myDatePicker" [(ngModel)]="kdate.Date"
                        (ngModelChange)="UpdateTask(Item_)" class="kdate">
                      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker></mat-datepicker>
                    </mat-form-field>
                    <!-- {{kdate.Date | date}} -->
                  </td>
                  <!--


        <td *ngFor="let kstatus of Item_.List_Of_Status_columns;" class="Item_Row">                                                                             
          <select [(ngModel)]="kstatus.Status_Selected_Option" class="form-select  "
            [style.background]="kstatus.Status_Selected_Option.Option_Color.get(rgba)" style="height: 51px;" >
            <option *ngFor="let KstatusOption_ of kstatus?.List_Of_Status_Opionts"  
              [ngValue]="KstatusOption_"
              [selected]="KstatusOption_"
              [style.background]="KstatusOption_.Option_Color.get(rgba)" style="text-align: center;">
              {{KstatusOption_.Option_Title}}
            </option>
          </select>                        
        <ul>
        {{kstatus.Status_Selected_Option.Option_Title}} 
        </ul>-->

                  <!-- Status -->
                  <td *ngFor="let kstatus of Item_.List_Of_Status_columns;">
                    <div class="btn-group">            
                    <select [(ngModel)]="kstatus.Status_Selected_Option" class="form-control kstatus"
                      [style.background]="kstatus.Status_Selected_Option.Option_Color.get(rgba)"
                      (ngModelChange)="UpdateTask(Item_)">                      
                      <option *ngFor="let KstatusOption_ of kstatus.List_Of_Status_Opionts" [ngValue]="KstatusOption_"
                        [selected]="KstatusOption_" [style.background]="KstatusOption_.Option_Color.get(rgba)"
                        style="text-align: center;">
                        {{KstatusOption_.Option_Title}}
                      </option>                                                            
                    </select>
                    <button type="button" class="btn btn-light  bx bxs-plus-square" data-bs-toggle="dropdown"
                        style="font-size: 12px">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                        <li>                                            
                          <input [style.background]="color" [ngModel]="kstatus.List_Of_Status_Opionts.Option_Title" class="form-control">       
                                                                                      
                        </li>
                        <li>                                             
                          <input placeholder="Select Color" [(colorPicker)]="color" name="color" class="form-control" style="background-image: linear-gradient(to right, red , yellow)">                          
                        </li>
                          <li>
                          <button type="button" class="btn btn-primary" style="width: 100%;" (click)="kstatus_option()">Add Label</button>
                        </li>                       
                      </div>
                    </div>
               
                 
                    <!--   <select [(ngModel)]="kstatus.Status_Selected_Option.Option_Title" class="form-control"
                [style.background]="kstatus.Status_Selected_Option.Option_Color.get(rgba)" (ngModelChange)="UpdateTask(Item_)" style="height: 60; ">
                <option *ngFor="let KstatusOption_ of kstatus.List_Of_Status_Opionts" [ngValue]="KstatusOption_"
                  [selected]="KstatusOption_" [style.background]="KstatusOption_.Option_Color.get(rgba)"
                  style="text-align: center;">
                  {{KstatusOption_.Option_Title}}
                </option>
              </select>-->
                    <!-- <ul>
           {{kstatus.Status_Selected_Option.Option_Title}} 
            </ul>-->
                  </td>
                  <!-- Dropdown  -->
                  <td *ngFor="let kdropdown of Item_.List_Of_Dropdown_columns; let i = index" [attr.data-index]="i">
                    <div class="btn-group">
                    <ng-select [items]="kdropdown.List_Of_Dropdown_Options" appearance="outline radius-15"
                      [multiple]="true" [closeOnSelect]="true" [searchable]="true" bindLabel="Dropdown_Name"
                      style="margin-top: -3px; font-size: 12px;" [(ngModel)]="kdropdown.Dropdown_Selected_Option"
                      (ngModelChange)="UpdateTask(Item_)" class="kdropdown_tab">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label">{{item.Dropdown_Name}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        {{item.Dropdown_Name}}                                             
                      </ng-template>                      
                 
                    </ng-select>               
                      
                      <button type="button" class="btn btn-light  bx bxs-plus-square" data-bs-toggle="dropdown"
                        style="font-size: 12px">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                        <li>
                          <mat-form-field appearance="outline">
                          <input matInput [(ngModel)]="Dropdown_Name" name="Dropdown_Name">
                        </mat-form-field>
                        </li>
                          <li>
                          <button type="button" class="btn btn-primary" style="width: 100%;" (click)="Create_Dropdown_Option(Dropdown_Name,i)">Add Label</button>
                        </li>
                      </div>
                    </div>




                    <!-- <ul>
                <li *ngFor="let item of kdropdown.Dropdown_Selected_Option">{{item.Dropdown_Name}}</li>
              </ul> -->
                  </td>
                  <!-- Timeline  -->
                  <td *ngFor="let ktimeline of Item_.List_Of_Timeline_columns;" class="Item_Row">
                    <div class="wrapper">
                      <mat-form-field appearance="outline radius-15" class="ktimeline_tab">
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start Date" [(ngModel)]="ktimeline.start_date"
                            (ngModelChange)="UpdateTask(Item_)">
                          <input matEndDate placeholder="End Date" [(ngModel)]="ktimeline.end_date"
                            (ngModelChange)="UpdateTask(Item_)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                       <!-- <div class="overlay">
                          <div class="content">{{calculateDiff(ktimeline_start_date)}} days </div>
                        </div>-->
                      </mat-form-field>
                    </div>
                    <!--  {{ktimeline_start_date | date}}
                              {{ktimeline_end_date | date}} -->
                  </td>
                  <!-- People  -->
                  <td *ngFor="let kpeople of Item_.List_Of_People_columns;">
                    <ng-select appearance="outline radius-15" [items]="Global_UserList" [multiple]="true"
                      [closeOnSelect]="true" [searchable]="true" bindLabel="FirstName"
                      [(ngModel)]="kpeople.Selected_People"
                      style="margin-top: -3px; font-size: 12px; text-align: center;" (ngModelChange)="UpdateTask(Item_)"
                      class="kpeople">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"><img [src]="item.filepath" width="20px" height="20px">
                          {{item.FirstName}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        <img [src]="item.filepath" width="20px" height="20px"> {{item.FirstName}}
                      </ng-template>
                    </ng-select>
                    <!-- <ul>
              <li *ngFor="let item of kpeople.Selected_People">{{item.FirstName}}</li>
            </ul>-->
                  </td>
                  <!-- Text  -->
                  <td *ngFor="let ktext of Item_.List_Of_Text_columns;" class="Item_Row">
                    <mat-form-field appearance="outline radius-15"
                      style="margin-top: -4px; margin-bottom: -4px; text-align: center;">
                      <input matInput [(ngModel)]="ktext.Text" (ngModelChange)="UpdateTask(Item_)">
                    </mat-form-field>
                    <!--   {{ktext.Text}}-->
                  </td>
                  <!-- Number  -->
                  <td *ngFor="let knumber of Item_.List_Of_Number_columns;" class="Item_Row">
                    <mat-form-field appearance="outline radius-15"
                      style="margin-top: -4px; margin-bottom: -4px; text-align: center;">
                      <input matInput type="number" [(ngModel)]="knumber.Number" (ngModelChange)="UpdateTask(Item_)">
                    </mat-form-field>
                    <!--   {{knumber.Number}}  -->
                  </td>
                  <!-- Check Box -->
                  <td *ngFor="let kcheck of Item_.List_Of_Check_Box_columns;" class="Item_Row">
                    <input type="checkbox" [(ngModel)]="kcheck.Check_Box"
                      (ngModelChange)="UpdateTask(Item_)"
                      style="margin-top: -4px; margin-bottom: -4px; align-items: center;">
                    <!--  {{kcheck.Check_Box}}-->
                  </td>
                  <!-- Formulas  -->
                  <td *ngFor="let kformula of Item_.List_Of_Formula;" class="Item_Row">
                    <mat-form-field appearance="outline radius-15" style="margin-top: -4px; margin-bottom: -4px;">
                      <input matInput [(ngModel)]="kformula.Formula_Result" data-bs-toggle="dropdown"
                        (ngModelChange)="UpdateTask(Item_)">
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                        <textarea matInput [(ngModel)]="kformula.Full_Formula"
                          style="width: 500px; border: 1px solid black; height: 90px;"
                          (ngModelChange)="UpdateTask(Item_)"></textarea>
                        <div *ngFor="let column_ of tempboard?.Board_Template?.List_Of_Columns;">
                          {{column_.Column_Title}}
                        </div>
                      </div>
                    </mat-form-field>
                    <!--  {{kpeople.People_Selected_Option.People_Name}} -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary task" (click)=create_Task(j)>Create Task</button>
        </div>
      </div>

    </div>

  </div>
</div>





<div id="mySidenav" class="sidenav_Close">
  <!--{{Selected_Item.Item_Title}}-->
  <!-- Side Menu  Tab-->
  <div class="col">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">
      <h1 class="sidemenu_close">&times;</h1>
    </a>
    <h4 class="border_bt"><input matInput [(ngModel)]="Selected_Item.Item_Title"></h4>
    <br />
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs nav-primary" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab" aria-selected="true">
              <div class="d-flex align-items-center">
                <div class="tab-icon"><i class='bx bx-cloud-upload font-18 me-1'></i>
                </div>
                <div class="tab-title">Updates</div>

              </div>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab" aria-selected="false">
              <div class="d-flex align-items-center">
                <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
                </div>
                <div class="tab-title">Files</div>
              </div>
            </a>
          </li>

        </ul>
        <div class="tab-content py-3">





          <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
            <form>
            <mat-form-field appearance="outline" class="text_item_update">
              <textarea matInput (paste)="onPaste($event)" [(ngModel)]="Temp_Item_Update.Item_Update_Content"
                name="item_update" class="text_item_update" >              
              </textarea>              
            <div *ngFor='let url of images; let i = index' style="height: 100%; width: 400px; display: inline-block;">
              <a href="javascript:void(0)" (click)="deleteImage(url)" (click)="del(url)" class="lni lni lni-trash" style="display: none;"></a>          
              <a href="javascript:void(0)" (click)="deleteImage(url)"  class="lni lni lni-trash" style="margin-left: 390px;"></a>
              <img [src]="url" [(ngModel)]="Temp_Item_Update.Item_Update_files"  style="margin: 3px;" class="text_item_update">                              
            </div>
             <!-- <img #imgRenderer [(ngModel)]="Temp_Item_Update.Item_Update_files" class="text_item_update"  />-->
            
            </mat-form-field>
            <input id="file"  type="file" name="file" [(ngModel)]="Temp_Item_Update.Item_Update_files" class="form-control" multiple="" (change)="onFileChange($event)">
            
            <br/>
            <!-- Place to render the image -->                  
            <!-- Arul Update <button class="btn btn-primary item-update_bt" (click)="create_Update()" (click)="reset()" >Update</button> -->
            <button class="btn btn-primary item-update_bt" (click)="create_Update()" >Update</button>
            <div class="card" *ngFor="let update_ of Selected_Item.Item_Updates;">
              <div class="card-body">
                {{update_.Item_Update_Content}}
                <div *ngFor="let file_ of update_.Item_Update_files;">
                  <img src="file_.name" alt="Paris" width="300" height="300">
                  {{file_.name}}
                  {{file_.webkitRelativePath}}
                </div>
              </div>
            </div>
          </form>
          </div>

          <div class="tab-pane fade" id="primaryprofile" role="tabpanel">
            <div class="card radius-15">
              <div class="card-body" >
                <div class="card-title">
                  <h4 class="mb-0">Fancy File Upload</h4>
                </div>
                <hr/>
                <input id="fancy-file-upload" type="file" name="files" accept=".pdf,.doc,.xls" multiple />               
              </div>              
            </div>       
          </div>

        </div>
      </div>
    </div>


  </div>