.footer {
    position:fixed;
    bottom:5px; 
    //background:  linear-gradient(#015b7f , #048293);
    background: #323c46;
    height: 50px;
  }
 
  .foot{
    position:fixed;
    bottom:0px; 
    //background:  linear-gradient(#015b7f , #048293);
    background: #323c46;
    height: 50px;
    margin-left: -35.5px;
  }
  .card {
    margin-bottom: 2px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.has-icon-right .form-control {
  padding-right: 0px;
}

.form-control {
  border: 0px solid ;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
}

.inputContainer i {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .desk {
    display: none;
  }
  .footer{
    display: none;
  }
  .tabletitle1{
    display: none;
  }
  
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;       
  } 
  .foot{
    display: none;
  } 
  .sticky-container{
    display: none;
  }  
  .tabletitle{
    display: none;
  }
   
}

.card .table td, .card .table th {
  padding-right: 1px;
  padding-left: 0rem;
  padding-top: 0px;
  padding-bottom: 1px;
  border: none;
}

.sticky-container {
width: 310px;
  overflow: auto;
  margin-left: -10px;
  height: 380px;
 
}


td.sticky, th.sticky {
  position: sticky;
  left:0;
  z-index:1;  
  background-color: transparent;
}


td.sticky-right, th.sticky-right {
  position: sticky;
  right:0;
  z-index:1;  
  background-color: #323c46;  
  
}
.peopl{
  width: 300px;
}
.timeline{
  width: 160px;
}
.table tbody + tbody {
  border-top: 0px solid #dee2e6;
}


#add-button{
  right: 20px;
  bottom: 50px;
  top: 85%;
  left: auto;
  position: fixed;
}

.conversation-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
}

.tabletitle{
  margin-bottom: -10px; margin-left: -10px; margin-top: -5px;
}.tabletitle1{
  margin-bottom: 5px; margin-left: -0px; margin-top: -0px;
}

.total{
  background-color: rgba(255, 255, 255, 0.2);
    color: #fff !important;
}


  
:host {
  >.container {
      max-width: 1264px;     
      width: 100%;      
      margin: 0 auto;
      display: flex;      
      justify-content: space-between;
      background: none;
  }
  ::ng-deep {
   
      .mat-tab-group {
          flex-direction: row;
          
      }
      .mat-tab-header {
        border-bottom: black;
      }
      .mat-tab-header-pagination {
          display: none !important;
      }
      .mat-tab-label {
        height: 35px;
        width: 150px;
        font-size: 14px; 
        padding: 0 4px;
        text-align: start;  
        text-overflow: initial;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
                 
      }     
      .mat-tab-labels {
        flex-direction: row;
        background: transparent;
      //  box-shadow:5px 5px 5px #888888;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
      }
      .mat-tab-label.mat-tab-label-active {        
      //  background-color:#006599;
      background-color:#fafafa5b;
        color: white;
        text-transform: uppercase;
       // box-shadow:3px 3px 3px #888888;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
      }
      .mat-tab-label.mat-tab-label-active:hover {
        background-color:#fafafa5b;
      }
      .mat-tab-label:hover {
          background-color: rgba(216, 216, 216, 0.226);
      }
     
      .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: green;
    }
      .mat-tab-body-wrapper {
          flex: 1 1 auto;
      }
  }

  .adicon{
    margin-left: 10px;
    margin-top: 10px;
  }
  .dropdown_hand{
    cursor: pointer; cursor:hand;
  }

  
}