<!-- Breadcrumb-->

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
      <h4 class="page-title">Expenses</h4>
    </div>
    <div class="col-sm-3 desk" >
     
    </div>
  </div>
  <!-- End Breadcrumb-->               
      <input type="text" class="form-control form-control-sm" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search" style="border-radius: 10px; height: 40px;">     
      <br>
<!-- Tab Group -->
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
        <mat-tab-group  matMultilineTab (selectedTabChange)="tabClick($event)" class="nav nav-tabs nav-tabs-success">
         
          <mat-tab class="mats" *ngFor="let _Group of List_of_Expenses_Group; let i = index" ngValue="i"
         label="{{_Group.Expense_Group_Name}}" ><i class="fa fa-plus-square dropdown_hand adicon" (click)="openVerticallyCentered(Expenses_Add)"></i>							
         </mat-tab>       			        
        </mat-tab-group>
       
        <div ngbDropdown class="btn-group">
          <button class="btn btn-light wsb" >{{List_of_Expenses_Group[Selected_group_Index].Expense_Group_Name}} | Count : {{List_of_Expenses_Group[Selected_group_Index].List_Of_Expense.length}}</button>
          <button class="btn btn-light   crtworkspace" id="dropdownBasic5" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic5" class=" dropdown_hand">           
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Delete Group</a>
            <a class="dropdown-item" (click)="openVerticallyCentered(Expenses_Add)">Add Group</a>
            
          </div>
          </div><br><br>

          <div *ngFor="let _Expenses of this.List_of_Expenses_Group[this.Selected_group_Index].List_Of_Expense|filter:searchText let j = index" [attr.data-index]="j">
            <table style="cellspacing:2px ">
            <tr>
              <td style="width: 10%;  overflow: auto;" >
                <div class="position-relative has-icon-right" >
                  <input class="form-control form-control-sm" style="width: 100%; " [(ngModel)]="_Expenses.Spent_by"
                    name="_Expenses.Spent_For" on-focusout="updateFinanceitem(_Expenses)">
                </div>
              </td>
            <td style="width: 30%;  overflow: auto;">
              <div class="position-relative has-icon-right">
                <input class="form-control form-control-sm" style="width: 100%; " [(ngModel)]="_Expenses.Spent_For"
                  name="_Expenses.Spent_For" on-focusout="updateFinanceitem(_Expenses)">
              </div>
            </td>
            <td style="width: 14%;  overflow: auto;">
              <div class="position-relative has-icon-right">
              <mat-form-field appearance="outline radius-15" class="form-control form-control-sm">                
                <input matInput [matDatepicker]="picker" [(ngModel)]="_Expenses.Spent_date" name="_Expenses.Spent_date" (ngModelChange)="updateFinanceitem(_Expenses)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field></div>
            </td>  
            <td style="width: 14%;  overflow: auto;">
              <div class="position-relative has-icon-right">
                <input class="form-control form-control-sm" style="width: 100%; " [(ngModel)]="_Expenses.Spent_Amount"
                  name="_Expenses.Spent_Amount" on-focusout="updateFinanceitem(_Expenses)">
              </div>
            </td>            
            <td style="width: 2%; ">
              <button type="submit" class="zmdi zmdi-delete form-control form-control-sm" (click)="Delete_Expenses(_Expenses)">
              </button>
            </td> 
          </tr>
        </table>
        

          </div>
          <br/><br/>
          <table style="cellspacing:2px ">
            <tr>
            <td style="width: 60%;  overflow: auto;">
             
            </td>
            <td style="width: 14%;  overflow: auto;">
             
            </td>  
            <td style="width: 14%;  overflow: auto;">
              <h4 class="form-control form-control-sm" style="width: 310px; text-align: center; align-items: center;">Total : Rs. {{totalamount}}</h4>
            </td>            
            <td style="width: 2%; ">
             
            </td> 
          </tr>
        </table>
          <input hidden type="text" value='{{ getTotal() }}' /> 
          <mat-toolbar color="accent" class="footer">
            <form>
          <!--  <input   [(ngModel)]="Temp_Expenses.add" name="Temp_Expenses.add" [value]="Temp_Expenses.Paid_by.length + Temp_Expenses.split_equaly.length" > -->
              <table style="cellspacing:5px">
              <tr>                                
                  <td style=" background: transparent;" >
                    <input autofocus style="width: 100%; " [(ngModel)]="FirebaseUser_.userName" name="FirebaseUser_.userName"  class="form-control" placeholder="Spent_by">
                  </td>
                <td style="width: 300px;">
                  <div class="position-relative has-icon-right">
                    <input autofocus style="width: 100%; " [(ngModel)]="Temp_Expenses_List.Spent_For" name="Temp_Expenses_List.Spent_For" placeholder="Spent_For"
                      class="form-control">
                  </div>
                </td>
                <td style="width: 300px;">
                  <div class="position-relative has-icon-right">
                    <input type="number" style="width: 100%; " [(ngModel)]="Temp_Expenses_List.Spent_Amount" name="Temp_Expenses_List.Spent_Amount" placeholder="Spent_Amount"
                      class="form-control">
                  </div>
                </td>
                <td style="width: 14%;  overflow: auto;">
                  <div class="position-relative has-icon-right">
                  <mat-form-field appearance="outline radius-15" class="form-control">                
                    <input matInput [matDatepicker]="picker" [(ngModel)]="Temp_Expenses_List.Spent_date" name="Temp_Expenses_List.Spent_date" placeholder="Spent_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field></div>
                </td>                                            
                           
                <td> <!-- Temp_Finance_Items.split_equaly-->
                  <input type="submit" (window:keypress.enter)="onSomeAction($event)" class="btn  btn-block btn-light form-control"
                    style=" border-radius: 2px; color: white;  height: 38px;"
                    (click)="create_Expenses(Temp_Expenses_List)" (click)="reset()" value="Save">
                </td>
              </tr>
            </table>
            </form>          
          </mat-toolbar>          
			<!--	<ul class="nav nav-tabs nav-tabs-success">
					<li class="nav-item" *ngFor="let _Group of List_of_Expenses_Group">
						<a class="nav-link" data-toggle="tab" href="#{{_Group.Expense_Group_Name}}">	<i class="icon-people icons"></i>
							<span class="hidden-xs">{{_Group.Expense_Group_Name}}</span>            
						</a>
					</li>
				
					<li ngbDropdown class="nav-item">
						<a class="nav-link" href="javascript:;" (click)="openVerticallyCentered(Expenses_Add)">	<i class="fa fa-plus-square"></i>							
						</a>					
					</li>
				</ul>-->
        <ng-template #Expenses_Add let-modal>
          <div class="modal-header">
            <h1 class="modal-title" style="margin-left: 0px;font-weight: 500;">Create Expenses Group</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #myForm="ngForm">
              <label>Expenses Group Name</label>
              <div class="form-group">
                <mat-form-field appearance="outline radius-15" class="" style="width: 100%; height: 100%;">
                  <input matInput [(ngModel)]="Temp_Expenses.Expense_Group_Name" name='Temp_Expenses.Expense_Group_Name'  required class="form-control" style="border: 1px solid chartreuse;">
                </mat-form-field>
                <br><br>                
                <!-- Place to render the image -->
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="create_Expenses_Group(Temp_Expenses)" (click)="reset_group()"
              [disabled]="myForm.invalid" (click)="modal.dismiss('Cross click')" >Create Group Name</button>

          <!--    <button type="button" class="btn btn-primary" (click)="create_workspace(Workspace_Name)"
              [disabled]="myForm.invalid" (click)="modal.dismiss('Cross click')" (click)="reset()">Create
              Workspace</button>  -->
          </div>
        </ng-template>
				<!-- Tab panes -->
			<!--	<div class="tab-content">
					<div *ngFor="let _Group of List_of_Expenses_Group"  class="container tab-pane active" id="{{_Group.Expense_Group_Name}}">
						<p>{{_Group.Expense_Group_Name}}</p>
						
					</div>					
				</div>-->
			</div>
		</div>
	</div>
</div>

<!-- Tab Group -->      
      <!--End Row-->
