<!-- Start wrapper-->
<div id="wrapper">
	<div class="height-100v d-flex align-items-center justify-content-center">
		<div class="card-authentication2 mx-auto my-3">
			<div class="card-group">
				<div class="card mb-0 desk" >
					<div class="bg-signup2"></div>
					<div class="card-img-overlay rounded-left my-5">
						<img src="assets/images/bg-sighn-2.png" alt="logo icon" style="width: 170px; height: 60px; ">
						<p class="card-text text-white pt-3">Creating a positive experience for your employees can be as important as creating one for customers. If employees enjoy working at your company, this can influence their work and increase quality and productivity. Employee satisfaction and their views of your company also influence how customers feel. When employees love to work at your company, customers can assume that your company has good values and cares about people over profits. You can ensure a great employee experience by offering benefits and soliciting feedback from employees to help improve the work environment.</p>
					</div>
				</div>
				<div class="card mb-0">
					<div class="card-body">
						<div class="card-content p-3">
							<div class="text-center">
								<img src="assets/images/logo.png" alt="logo icon" style="width: 55px; height: 55px;">
							</div>
							<div class="card-title text-uppercase text-center py-3">Sign Up</div>
							<form (ngSubmit)="onSubmit()" #f="ngForm">
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="exampleInputName" class="sr-only">Name</label>
										<input type="text" style="background-color: rgba(205, 130, 130, 0.262);" [(ngModel)]="userName" name="userName" class="form-control" placeholder="Name" ngModel required>
										<div class="form-control-position"> <i class="icon-user"></i>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="exampleInputEmailId" class="sr-only">Email ID</label>
										<input type="text" style="background-color: rgba(205, 130, 130, 0.262);" [(ngModel)]="Email" name="Email" class="form-control" placeholder="Email ID" ngModel required>
										<div class="form-control-position"> <i class="icon-envelope-open"></i>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="exampleInputPassword" class="sr-only">Password</label>
										<input type="text" style="background-color: rgba(205, 130, 130, 0.262);" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" ngModel required>
										<div class="form-control-position"> <i class="icon-lock"></i>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="exampleInputRetryPassword" class="sr-only">Retry Password</label>
										<input type="password" style="background-color: rgba(205, 130, 130, 0.262);" [(ngModel)]="password" name="password" class="form-control" placeholder="Retry Password" ngModel required>
										<div class="form-control-position"> <i class="icon-lock"></i>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="icheck-material-white">
										<input type="checkbox" id="user-checkbox" checked="" />
										<label for="user-checkbox" style="color: #626161e0;">I Accept terms & conditions</label>
									</div>
								</div>
								<button type="button" class="btn btn-light btn-block waves-effect waves-light" (click)="register()">Sign Up</button>
								<div class="text-center pt-3">									
									
									<hr>
									<p class="text-warning">Already have an account? <a href="JavaScript:;" (click)="onSignin2()" style="color: #626161e0;"> Sign In here</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--wrapper-->