<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Apex Chart</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">Charts</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Apex Chart</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
                <a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
                <div class="dropdown-divider"></div> 
                <a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<div class="row">
	<div class="col-12 col-lg-12 col-xl-12">
		<div class="card">
			<div class="card-header text-uppercase">Line Chart</div>
			<div class="card-body">
				<div id="chart1"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-header text-uppercase">Area Chart</div>
			<div class="card-body">
				<div id="chart2"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-header text-uppercase">Column Chart</div>
			<div class="card-body">
				<div id="chart3"></div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-header text-uppercase">Donut Chart</div>
			<div class="card-body">
				<div id="chart4"></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-header text-uppercase">Pie Chart</div>
			<div class="card-body">
				<div id="chart5"></div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-header text-uppercase">Radar Chart</div>
			<div class="card-body">
				<div id="chart6"></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-header text-uppercase">Radialbar Chart</div>
			<div class="card-body">
				<div id="chart7"></div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="row">
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-header text-uppercase">Circle Chart</div>
			<div class="card-body">
				<div id="chart8"></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-6">
		<div class="card">
			<div class="card-header text-uppercase">Stroked Gauge Chart</div>
			<div class="card-body">
				<div id="chart9"></div>
			</div>
		</div>
	</div>
</div>
<!--end row-->