<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Progress Bars</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">UI Elements</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Progress Bars</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
        		<div class="dropdown-divider"></div> 
        		<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-uppercase">Basic examples</div>
			<div class="card-body">
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;"></div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar" style="width:30%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar" style="width:50%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar" style="width:80%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar" style="width:95%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-uppercase">background color</div>
			<div class="card-body">
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-primary" style="width:20%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-success" style="width:30%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-danger" style="width:50%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-warning" style="width:80%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-info" style="width:95%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-uppercase">Striped Progress Bars</div>
			<div class="card-body">
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" style="width:20%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:30%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:50%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:80%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:95%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-uppercase">Gradient colors</div>
			<div class="card-body">
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar gradient-ibiza" style="width:20%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar gradient-branding" style="width:30%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar gradient-ohhappiness" style="width:50%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar gradient-hossein" style="width:80%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar gradient-purpink" style="width:95%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header text-uppercase">Multiple Progress Bars</div>
			<div class="card-body">
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar" style="width:20%"></div>
						<div class="progress-bar bg-danger" style="width:30%"></div>
						<div class="progress-bar bg-primary" style="width:40%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
				<div class="progress-wrapper">
					<div class="progress mb-4" style="height:5px;">
						<div class="progress-bar" style="width:30%"></div>
						<div class="progress-bar bg-success" style="width:50%"></div>
						<div class="progress-bar bg-warning" style="width:20%"></div>
					</div>
				</div>
				<!--end progress wrapper-->
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<h6 class="text-center text-uppercase">NG Bootstrap Progress-bar</h6>
<!-- Contextual progress bars-->
<h6 class="text-uppercase">Contextual progress bars</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<p>
					<ngb-progressbar type="white" [value]="25" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="white" [value]="50" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="white" [value]="75" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="white" [value]="100" height=".5rem"></ngb-progressbar>
				</p>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Contextual progress bars-->
<!-- Progress bars with current value labels-->
<h6 class="text-uppercase">Progress bars with current value labels</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<p>
					<ngb-progressbar showValue="true" type="success" [value]="25" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar [showValue]="true" type="info" [value]="50" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar showValue="true" type="warning" [value]="150" [max]="200" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar [showValue]="true" type="danger" [value]="150" [max]="150" height=".5rem"></ngb-progressbar>
				</p>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Progress bars with current value labels-->
<!-- Striped progress bars-->
<h6 class="text-uppercase">Striped progress bars</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<p>
					<ngb-progressbar type="success" [value]="25" [striped]="true" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="info" [value]="50" [striped]="true" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="warning" [value]="75" [striped]="true" height=".5rem"></ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="danger" [value]="100" [striped]="true" height=".5rem"></ngb-progressbar>
				</p>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Striped progress bars-->
<!-- Progress bars with custom labels-->
<h6 class="text-uppercase">Progress bars with custom labels</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<p>
					<ngb-progressbar type="success" [value]="25" height=".5rem">25</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="info" [value]="50" height=".5rem">Copying file <b>2 of 4</b>...</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true" height=".5rem"><i>50%</i>
					</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="danger" [value]="100" [striped]="true" height=".5rem">Completed!</ngb-progressbar>
				</p>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Progress bars with custom labels-->
<!-- Progress bars with height-->
<h6 class="text-uppercase">Progress bars with height</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<p>
					<ngb-progressbar type="success" [value]="25">default</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="info" [value]="50" height="10px">10px</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="warning" [value]="75" height=".5rem">.5rem</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="danger" [value]="100" [height]="height">{{height}}</ngb-progressbar>
				</p>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<!-- / Progress bars with height-->