<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Calendar</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Calendar</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
				<div class="dropdown-divider"></div> 
				<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<ng-template ngbModalContainer></ng-template>
<ng-template #modalContent let-close="close">
	<div class="modal-header">
		<h5 class="modal-title">Event action occurred</h5>
		<button type="button" class="close" (click)="close()"> <span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div>Action: <pre>{{ modalData?.action }}</pre>
		</div>
		<div>Event: <pre>{{ modalData?.event | json }}</pre>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light btn-square" (click)="close()">OK</button>
	</div>
</ng-template>
<div class="card card-body">
	<div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
		<div class="col">
			<div class="btn-group d-none d-lg-inline-flex">
				<div class="btn btn-light btn-square" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">Previous</div>
				<div class="btn btn-light btn-square" mwlCalendarToday [(viewDate)]="viewDate">Today</div>
				<div class="btn btn-light btn-square" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">Next</div>
			</div>
			<div class="btn-group d-lg-none">
				<div class="btn btn-sm btn-light btn-square" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"> <i class="zmdi zmdi-arrow-left"></i>
				</div>
				<div class="btn btn-sm  btn-light btn-square" mwlCalendarToday [(viewDate)]="viewDate"> <i class="fa fa-circle"></i>
				</div>
				<div class="btn btn-sm btn-light btn-square" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"> <i class="zmdi zmdi-arrow-right"></i>
				</div>
			</div>
		</div>
		<div class="col text-center align-self-center d-none d-sm-block">
			<h6 class="text-uppercase mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h6>
		</div>
		<div class="col text-right">
			<div class="btn-group d-none d-lg-inline-flex">
				<div class="btn btn-light btn-square" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>
				<div class="btn btn-light btn-square" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>
				<div class="btn btn-light btn-square" (click)="view = 'day'" [class.active]="view === 'day'">Day</div>
			</div>
			<div class="btn-group d-lg-none">
				<div class="btn btn-sm btn-light btn-square" (click)="view = 'month'" [class.active]="view === 'month'"> <i class="zmdi zmdi-apps"></i>
				</div>
				<div class="btn btn-sm btn-light btn-square" (click)="view = 'week'" [class.active]="view === 'week'"> <i class="zmdi zmdi-view-week"></i>
				</div>
				<div class="btn btn-sm btn-light btn-square" (click)="view = 'day'" [class.active]="view === 'day'"> <i class="zmdi zmdi-view-day"></i>
				</div>
			</div>
		</div>
	</div>
	<div [ngSwitch]="view">
		<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-month-view>
		<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-week-view>
		<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-day-view>
	</div>
</div>