<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Color Palette</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">Componenets</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Color Palette</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
				<div class="dropdown-divider"></div> 
				<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<div class="card">
	<div class="card-header text-uppercase">Background Colors</div>
	<div class="card-content">
		<div class="card-body">
			<div class="row row-group text-center m-0">
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-primary"> <span class="text-white">.bg-primary</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-info"> <span class="text-white">.bg-info</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-danger"> <span class="text-white">.bg-danger</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-success"> <span class="text-white">.bg-success</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-warning"> <span class="text-white">.bg-warning</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-secondary"> <span class="text-white">.bg-secondary</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-dark"> <span class="text-white">.bg-dark</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 bg-white"> <span class="text-dark">.bg-white</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-primary"> <span class="text-white">.gradient-primary</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-info"> <span class="text-white">.gradient-info</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-danger"> <span class="text-white">.gradient-danger</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-success"> <span class="text-white">.gradient-success</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-warning"> <span class="text-white">.gradient-warning</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-secondary"> <span class="text-white">.gradient-secondary</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-dusk"> <span class="text-white">.gradient-dusk</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-ibiza"> <span class="text-white">.gradient-ibiza</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-meridian"> <span class="text-white">.gradient-meridian</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-violet"> <span class="text-white">.gradient-violet</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-titanium"> <span class="text-white">.gradient-titanium</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-shifter"> <span class="text-white">.gradient-shifter</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-army"> <span class="text-white">.gradient-army</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-orange"> <span class="text-white">.gradient-orange</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-yoda"> <span class="text-white">.gradient-yoda</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-royal"> <span class="text-white">.gradient-royal</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-knight"> <span class="text-white">.gradient-knight</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-forest"> <span class="text-white">.gradient-forest</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-redmist"> <span class="text-white">.gradient-redmist</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-steelgray"> <span class="text-white">.gradient-steelgray</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-influenza"> <span class="text-white">.gradient-influenza</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-influenza"> <span class="text-white">.gradient-influenza</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-ohhappiness"> <span class="text-white">.gradient-ohhappiness</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-branding"> <span class="text-white">.gradient-branding</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-deepblue"> <span class="text-white">.gradient-deepblue</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-sylvia"> <span class="text-white">.gradient-sylvia</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-jshine"> <span class="text-white">.gradient-jshine</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-lovekiss"> <span class="text-white">.gradient-lovekiss</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-hossein"> <span class="text-white">.gradient-hossein</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-rainbow"> <span class="text-white">.gradient-rainbow</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-veer"> <span class="text-white">.gradient-veer</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-multiple-colors"> <span class="text-white">.gradient-multiple-colors</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-worldcup"> <span class="text-white">.gradient-worldcup</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-pinki"> <span class="text-white">.gradient-pinki</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-esinto"> <span class="text-white">.gradient-esinto</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-dunada"> <span class="text-white">.gradient-dunada</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-linga"> <span class="text-white">.gradient-linga</span>
				</div>
				<div class="col-12 col-lg-3 col-xl-3 p-5 gradient-blkw"> <span class="text-white">.gradient-blkw</span>
				</div>
			</div>
			<!--end row-->
		</div>
	</div>
</div>