<div class="row mt-3">
    <div class="col-12 col-lg-12 col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="row row-group align-items-center">
            <div class="col-12 col-lg-3 text-center p-3">
              <div class="fleet-status fleet-chart" data-percent="65">
               <span class="fleet-status-percent"></span>
              </div>
            </div>
            <div class="col-12 col-lg-4 text-center p-3">
              <h4 class="mb-0">65%</h4>
              <p class="mb-0 small-font">Fleet Efficiency</p>
            </div>
            <div class="col-12 col-lg-5 p-3">
              <ul>
                <li>Total fleet : 63</li>
                <li>On the move : 60</li>
                <li>In Maintenence : 3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
              <div class="media align-items-center">
                  <div class="media-body text-left">
                    <h4 class="text-white mb-0">28min</h4>
                    <span class="text-white small-font">Avg Loading Time</span>
                  </div>
                  <div class="w-circle-icon rounded border border-light">
                    <i class="fa fa-clock-o text-white"></i>
                  </div>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="media align-items-center">
                  <div class="media-body text-left">
                    <h4 class="text-white mb-0">15 tons</h4>
                    <span class="text-white small-font">Avg Loading Weight</span>
                  </div>
                  <div class="w-circle-icon rounded border border-light">
                    <i class="fa fa-tasks text-white"></i>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3">
        <div class="card">
          <div class="card-header">Delivery Status</div>
            <div class="card-body">
              <div class="chart-container-5">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [chartType]="doughnutChartType" [colors]="doughnutChartColors" 
                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">Within Time Limit : <span class="badge badge-light float-right">325</span></li>
              <li class="list-group-item bg-transparent">Out of Time Limit : <span class="badge badge-light float-right">45</span></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-header">Deliveries by Country</div>
          <div class="card-body">
            <div class="chart-container-6">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions" [chartType]="pieChartType" (chartHover)="chartHovered($event)" [colors]="pieChartColors"
                          (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
      </div>
    </div>
  </div><!--End Row-->


  <div class="row">
      <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
              <div class="card-body">
                <div class="media align-items-center">
                  <div class="w-icon pr-3">
                      <i class="fa fa-money text-white"></i></div>
                    <div class="media-body pl-3 border-left border-light-3">
                      <h5 class="text-white mb-0">$876,524 <small class="small-font">(-1%)</small></h5>
                      <span class="text-white small-font">Total Revenue</span>
                    </div>
                </div>
              </div>
              <div class="chart-container-7">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" ></canvas>
              </div>
          </div>
      </div>
    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card">
          <div class="card-body">
              <div class="media align-items-center">
                <div class="w-icon pr-3">
                    <i class="fa fa-usd text-white"></i></div>
                  <div class="media-body pl-3 border-left border-light-3">
                    <h5 class="text-white mb-0">$976,324 <small class="small-font">(-28%)</small></h5>
                    <span class="text-white small-font">Total Profit</span>
                  </div>
              </div>
          </div>
          <div class="chart-container-7">
            <canvas baseChart [datasets]="lineChart2Data" [labels]="lineChart2Labels" [options]="lineChart2Options" [colors]="lineChart2Colors"
            [legend]="lineChart2Legend" [chartType]="lineChart2Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" ></canvas>
          </div>
      </div>
    </div>
    <div class="col-12 col-lg-12 col-xl-4">
      <div class="card">
          <div class="card-body">
              <div class="media align-items-center">
                  <div class="w-icon pr-3">
                    <i class="fa fa-truck text-white"></i>
                  </div>
                  <div class="media-body pl-3 border-left border-light-3">
                    <h5 class="text-white mb-0">8245 <small class="small-font">(+11%)</small></h5>
                    <span class="text-white small-font">Total Shipments</span>
                  </div>
              </div>
          </div>
          <div class="chart-container-7">
            <canvas baseChart [datasets]="lineChart3Data" [labels]="lineChart3Labels" [options]="lineChart3Options" [colors]="lineChart3Colors"
                    [legend]="lineChart3Legend" [chartType]="lineChart3Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" ></canvas>
          </div>
      </div>
    </div>
  </div><!--End Row-->


   <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-header">Avg Delivery Time (hours) & Route (km)
              <div class="card-action">
                <div ngbDropdown>
                  <a href="javascript:;" class="dropdown-toggle-nocaret" id="dropdownBasic5" ngbDropdownToggle>
                    <i class="icon-options"></i>
                  </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic5">
                    <a href="javascript:;" ngbDropdownItem>Action</a>
                    <a href="javascript:;" ngbDropdownItem>Another action</a>
                    <a href="javascript:;" ngbDropdownItem>Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:;" ngbDropdownItem>Separated link</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container-11">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                  [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
      </div>
   </div><!--End Row-->
