<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
	<div class="col-sm-9">
		<h4 class="page-title">Accordions</h4>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javaScript:;">Dashtreme</a>
			</li>
			<li class="breadcrumb-item"><a href="javaScript:;">UI Elements</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Accordions</li>
		</ol>
	</div>
	<div class="col-sm-3">
		<div ngbDropdown class="btn-group float-sm-right">
			<button type="button" class="btn btn-light"><i class="fa fa-cog mr-1"></i> Setting</button>
			<button type="button" class="btn btn-light" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic5"> 
        		<a href="javaScript:;" ngbDropdownItem>Action</a>
				<a href="javaScript:;" ngbDropdownItem>Another action</a>
				<a href="javaScript:;" ngbDropdownItem>Something else here</a>
        		<div class="dropdown-divider"></div> 
        		<a href="javaScript:;" ngbDropdownItem>Separated link</a>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb-->
<h6 class="text-uppercase">Accordions</h6>
<hr>
<div class="row">
	<div class="col-lg-6">
		<div id="accordion1">
			<div class="card mb-2">
				<div class="card-header">
					<button class="btn btn-link text-white shadow-none" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">Accordion Group Item #1</button>
				</div>
				<div id="collapse-1" class="collapse show" data-parent="#accordion1">
					<div class="card-body">
						<div class="card-title text-uppercase">Some title example here</div>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-header">
					<button class="btn btn-link text-white shadow-none collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">Accordion Group Item #2</button>
				</div>
				<div id="collapse-2" class="collapse" data-parent="#accordion1">
					<div class="card-body">
						<div class="card-title text-uppercase">Some title example here</div>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<button class="btn btn-link text-white shadow-none collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Accordion Group Item #3</button>
				</div>
				<div id="collapse-3" class="collapse" data-parent="#accordion1">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div id="accordion2">
			<div class="card mb-2">
				<div class="card-header">
					<button class="btn btn-link shadow-none text-white" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Accordion Group Item #1</button>
				</div>
				<div id="collapse-4" class="collapse show" data-parent="#accordion2">
					<div class="card-body">
						<div class="card-title text-uppercase">Some title example here</div>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-header">
					<button class="btn btn-link shadow-none text-white collapsed" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">Accordion Group Item #2</button>
				</div>
				<div id="collapse-5" class="collapse" data-parent="#accordion2">
					<div class="card-body">
						<div class="card-title text-uppercase">Some title example here</div>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<button class="btn btn-link shadow-none text-white collapsed" data-toggle="collapse" data-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">Accordion Group Item #3</button>
				</div>
				<div id="collapse-6" class="collapse" data-parent="#accordion2">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<h6 class="text-uppercase">Color Accordion</h6>
<hr>
<div class="row">
	<div class="col-lg-6">
		<div id="accordion3">
			<div class="card mb-2">
				<div class="card-header bg-success">
					<button class="btn btn-link text-white shadow-none" data-toggle="collapse" data-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">Accordion Group Item #1</button>
				</div>
				<div id="collapse-7" class="collapse show" data-parent="#accordion3">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-header bg-warning">
					<button class="btn btn-link text-white shadow-none collapsed" data-toggle="collapse" data-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">Accordion Group Item #2</button>
				</div>
				<div id="collapse-8" class="collapse" data-parent="#accordion3">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header bg-info">
					<button class="btn btn-link text-white shadow-none collapsed" data-toggle="collapse" data-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">Accordion Group Item #3</button>
				</div>
				<div id="collapse-9" class="collapse" data-parent="#accordion3">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div id="accordion4">
			<div class="card mb-2">
				<div class="card-header bg-secondary">
					<button class="btn btn-link shadow-none text-white" data-toggle="collapse" data-target="#collapse-10" aria-expanded="true" aria-controls="collapse-10">Accordion Group Item #1</button>
				</div>
				<div id="collapse-10" class="collapse show" data-parent="#accordion4">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-header bg-danger">
					<button class="btn btn-link shadow-none text-white collapsed" data-toggle="collapse" data-target="#collapse-11" aria-expanded="false" aria-controls="collapse-11">Accordion Group Item #2</button>
				</div>
				<div id="collapse-11" class="collapse" data-parent="#accordion4">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header bg-primary">
					<button class="btn btn-link shadow-none text-white collapsed" data-toggle="collapse" data-target="#collapse-12" aria-expanded="false" aria-controls="collapse-12">Accordion Group Item #3</button>
				</div>
				<div id="collapse-12" class="collapse" data-parent="#accordion4">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<h6 class="text-uppercase">Accordion with Background Color</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div id="accordion6">
			<div class="card mb-2 bg-success">
				<div class="card-header bg-transparent border-light-2">
					<button class="btn btn-link shadow-none text-white" data-toggle="collapse" data-target="#collapse-16" aria-expanded="true" aria-controls="collapse-16">Accordion with Background Color #1</button>
				</div>
				<div id="collapse-16" class="collapse show" data-parent="#accordion6">
					<div class="card-body text-white">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="card mb-2 bg-danger">
				<div class="card-header bg-transparent border-light-2">
					<button class="btn btn-link shadow-none text-white collapsed" data-toggle="collapse" data-target="#collapse-17" aria-expanded="false" aria-controls="collapse-17">Accordion with Background Color #2</button>
				</div>
				<div id="collapse-17" class="collapse" data-parent="#accordion6">
					<div class="card-body text-white">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="card bg-primary">
				<div class="card-header bg-transparent border-light-2">
					<button class="btn btn-link shadow-none text-white collapsed" data-toggle="collapse" data-target="#collapse-18" aria-expanded="false" aria-controls="collapse-18">Accordion with Background Color #3</button>
				</div>
				<div id="collapse-18" class="collapse" data-parent="#accordion6">
					<div class="card-body text-white">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<h6 class="text-uppercase">Accordion with Outline</h6>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div id="accordion8">
			<div class="card mb-2 border border-success">
				<div class="card-header">
					<button class="btn btn-link shadow-none text-success" data-toggle="collapse" data-target="#collapse-22" aria-expanded="true" aria-controls="collapse-22">Accordion Group Item #1</button>
				</div>
				<div id="collapse-22" class="collapse" data-parent="#accordion8">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="card mb-2 border border-danger">
				<div class="card-header">
					<button class="btn btn-link shadow-none text-danger collapsed" data-toggle="collapse" data-target="#collapse-23" aria-expanded="false" aria-controls="collapse-23">Accordion Group Item #2</button>
				</div>
				<div id="collapse-23" class="collapse" data-parent="#accordion8">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="card border border-primary">
				<div class="card-header">
					<button class="btn btn-link shadow-none text-primary collapsed" data-toggle="collapse" data-target="#collapse-24" aria-expanded="false" aria-controls="collapse-24">Accordion Group Item #3</button>
				</div>
				<div id="collapse-24" class="collapse" data-parent="#accordion8">
					<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Row-->
<h6 class="text-uppercase">NG Bootstrap Accordions</h6>
<!--Accordion Starts-->
<div class="row">
	<div class="col-md-12 col-lg-6">
		<hr>
		<!--Basic Accordion Starts-->
		<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="text-white">
			<ngb-panel title="Simple">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel>
				<ng-template ngbPanelTitle> <span>&#9733; <b>Fancy</b> title &#9733;</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel title="Disabled" [disabled]="true">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
		<!--Basic Accordion Ends-->
	</div>
	<div class="col-md-12 col-lg-6">
		<h6 class="text-uppercase mb-2 mt-3">One open panel at a time</h6>
		<hr>
		<!--One open panel at a time Starts-->
		<ngb-accordion [closeOthers]="true" activeIds="1">
			<ngb-panel id="1" title="Simple">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="2">
				<ng-template ngbPanelTitle> <span>&#9733; <b>Fancy</b> title &#9733;</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="3" title="Disabled" [disabled]="true">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
		<!--One open panel at a time Ends-->
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-lg-6">
		<h6 class="text-uppercase mb-2 mt-5">Toggle panels</h6>
		<hr>
		<!--Toggle panels Starts-->
		<ngb-accordion #acc="ngbAccordion">
			<ngb-panel id="toggle-1" title="First panel">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="toggle-2" title="Second">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel title="Disabled" [disabled]="true">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
		<p class="mt-2">
			<button class="btn btn-light mr-2" (click)="acc.toggle('toggle-2')">Toggle first</button>
			<button class="btn btn-light" (click)="acc.toggle('toggle-2')">Toggle second</button>
		</p>
		<!--Toggle panels Ends-->
	</div>
	<div class="col-md-12 col-lg-6">
		<h6 class="text-uppercase mb-2 mt-5">Prevent panel toggle</h6>
		<hr>
		<!--Prevent panel toggle starts-->
		<ngb-accordion (panelChange)="beforeChange($event)">
			<ngb-panel id="1" title="Simple">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="2" title="I can't be toggled...">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="3" title="I can be opened, but not closed...">
				<ng-template ngbPanelContent>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
		<!--Prevent panel toggle ends-->
	</div>
</div>
<!--Accordion Ends-->